.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 1400px;
  width: 90%;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 60px;
}

.container[data-empty="true"] {
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  color: #fff;
}

.uploadInput {
  border: 2px dashed #007bff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: #c9e4ff;
  cursor: pointer;
}

.imageWrapper {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  width: 198px;
  height: 244px;
  /* overflow: hidden; */
  background: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  position: relative;
  gap: 5px;
  padding: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  transition: border ease-out 0.3s;

  .actions {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;

    & button {
      padding: 0;
      border: none;
      border-radius: 50%;
      background: #ebebf4;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
      visibility: hidden;

      &:hover {
        background-color: #4d90fe;

        & svg {
          & path {
            stroke: #fff;
          }
        }
      }
    }
  }

  .canvas {
    width: 90%;
    height: 70%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    & span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      margin: 0;
    }
  }

  &:hover {
    border: 1px solid #9999a2;
    transition: border ease-out 0.3s;

    .actions {
      & button {
        visibility: visible;
      }
    }
  }
}

.imageWrapper:hover > div > span {
  visibility: visible;
  opacity: 1;
}

/* .imageWrapper[data-max="true"] {
  flex: none;
  height: 240px;
}
 */
.imageWrapper span {
  margin-top: 10px;
}

.options {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

.options > *:last-child {
  margin-top: auto; /* Empuja el último botón hacia el fondo */
}
